#contact.bg-dark
    .form.p-5
        .container
            h3 Contact Us
            h6 Tel:     +35799667777
            h6 Email:   kangkelidis@gmail.com
        .form-group
            input.text-white.form-control(placeholder="Name")
        .form-group
            input.text-white.form-control(placeholder="Email")
        .form-group    
            input.text-white.form-control(placeholder="Tel")
        .form-group
            textarea.text-white.form-control(placeholder="Message" style="height: 100px")

        button.btn.btn-full(type="submit") Send