extends layout

block content
    .form.bg-dark
        .form-group
            input.text-white.form-control(placeholder="Name")
        .form-group
            input.text-white.form-control(placeholder="Tel")
        .form-group
            input.text-white.form-control(placeholder="Email")
        .form-group
            input.text-white.form-control(placeholder="Pick Up")
            input.text-white.form-control(placeholder="Pick Up Notes")
        .form-group
            input.text-white.form-control(placeholder="Destination")
            input.text-white.form-control(placeholder="Destination Notes")
