extends layout

block content

  div(class="bg-image", 
      style=` 
      background-size: cover;
      background-image:url(${"/images/home.jpg"})`)
      
      div.row
        include ./partials/_ride_form.pug

        #map 


  include ./partials/_contact.pug

      //- h1= title
      //- p Welcome to #{title}

  script(src="/javascripts/index.js" type="module") 